$main-color: #5842bc;

// start main_content
.main_content {
  margin-top: 50px;

  .head_table {
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 12px 23px 0px rgba(92, 55, 153, 0.04);
    display: flex;
    align-items: end;
    justify-content: space-between;

    form {
      display: flex;
      align-items: end;
      gap: 25px;

      .input_item {
        label {
          display: block;
          font-size: 17px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        input,
        select {
          width: 220px;
          border-radius: 0;
          background-color: #fff;
          border: 1px solid #dedfe3;
          color: #5b5e81;
          padding: 8px 12px;
          border-radius: 0.5rem;
          transition: all 0.3s;

          &:hover {
            border: 1px solid $main-color;
          }
        }
      }

      .btn_submit {
        padding: 8px 25px;
        background-color: $main-color;
        color: white;
        font-weight: 500;
        border-radius: 6px;
        border: none;
      }
    }

    .info {
      .btn_export {
        padding: 6px 20px;
        color: $main-color;
        background-color: white;
        border: 1px solid $main-color;
        font-weight: 500;
        border-radius: 6px;
      }
    }
  }

  .container_table {
    margin-top: 30px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(234, 234, 234);

    .dataTables_wrapper {
      .dataTables_length {
        label {
          font-weight: 500;

          select {
            border: 1px solid rgb(219, 219, 219);
            padding: 7px;
            border-radius: 8px;
          }
        }
      }

      .dataTables_filter {
        padding: 5px 8px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid rgb(214, 214, 214);
        border-radius: 50px;

        label {
          font-weight: 600;
        }

        input {
          border-radius: 0;
          border: none;
          background-color: transparent;
          outline: none;
        }
      }

      .dataTables_scrollBody {
        border-bottom: 0;
        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          height: 7px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: transparent;
        }

        &:hover {
          &:-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: rgb(225, 225, 225);
          }
        }
      }

      table {
        &.no-footer {
          border-bottom: 1px solid rgb(170 170 170 / 30%);
        }

        thead {
          th {
            border-bottom: 1px solid rgb(170 170 170 / 30%);
            text-align: center;
            max-width: 130px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        tbody {
          td {
            border-top: 1px solid rgb(170 170 170 / 30%);
            color: rgb(129 129 129);
            text-align: center;
            max-width: 130px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            a {
              color: $main-color !important;
              border-bottom: 1px solid $main-color;
            }

            .payment_status,
            .internet_status {
              border-radius: 4px;
              padding: 4px 8px;
              font-size: 14px;
              border: 1px solid transparent;
              background-color: #d0f7e1;
              color: #1eba62;
              font-weight: 500;

              &.notActive {
                background-color: #ffeaea;
                color: #fd5353;
              }
            }

            .input_switch {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;

              input[type="checkbox"] {
                height: 0;
                width: 0;
                visibility: hidden;
              }

              label {
                cursor: pointer;
                text-indent: -9999px;
                width: 40px;
                height: 20px;
                background: grey;
                display: block;
                border-radius: 100px;
                position: relative;
              }

              label:after {
                content: "";
                position: absolute;
                top: 3px;
                left: 5px;
                width: 12px;
                height: 12px;
                background: #fff;
                border-radius: 90px;
                transition: 0.3s;
              }

              input:checked + label {
                background: #bada55;
              }

              input:checked + label:after {
                left: calc(100% - 5px);
                transform: translateX(-100%);
              }

              label:active:after {
                width: 130px;
              }
            }
          }
        }
      }

      .dataTables_info {
        font-weight: 500;
        margin-top: 15px;
      }

      .dataTables_paginate {
        background: #f4f4f4;
        border-radius: 8px;
        padding: 10px 0;
        margin-top: 15px;

        .first {
          display: none;
        }

        .last {
          display: none;
        }

        .previous,
        .next {
          padding: 5px 15px;
          background-color: white;
          border-radius: 7px;
          color: $main-color !important;
          font-weight: 500;
          margin: 0 10px;

          &:hover {
            background: none;
            background-color: white !important;
            color: $main-color !important;
            border: none;
          }
        }

        span {
          .paginate_button {
            color: $main-color !important;
            font-weight: 500;
            padding: 5px 15px;

            &.current,
            &:hover {
              background: none;
              background-color: $main-color;
              color: white !important;
              border: none;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main_content {
    margin-top: 20px;

    .head_table {
      flex-direction: column;
      gap: 10px;
      align-items: center;

      form {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;

        .input_item {
          width: 100%;

          label {
            font-size: 15px;
            margin-bottom: 0;
          }

          input,
          select {
            width: 100%;
            padding: 4px 8px;
            font-size: 14px;
          }
        }

        .btn_submit {
          padding: 4px 15px;
          width: 100%;
        }
      }

      .info {
        .btn_export {
          padding: 4px 15px;

          i {
            font-size: 15px;
          }
        }
      }
    }
  }
}
// end main_content
